@charset "UTF-8";
/* CSS Document */

body{ 
background:url("elements/backng.png");}

.homepage{
color:white;
text-align: center;
font-weight:lighter;
font-family:"Space Grotesk";
font-size:25px;
padding:0;
margin-top:10px}

#title{
font-size:120px;
font-family: Michroma;
margin-top:14%;
}

.nav{
	top: 0;
	overflow: hidden;
}

.nav a{
text-decoration: none;
color: white;
font-family:"Space Grotesk";
float:right;
padding:20px;
font-size:25px;
font-weight:300


	
}
